.elementor-18492 .elementor-element.elementor-element-418c885 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-418c885>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-25aefff .elementor-spacer-inner {
    height: 120px
}

.elementor-18492 .elementor-element.elementor-element-0899eea {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-0899eea>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-13fa0b2 .elementor-spacer-inner {
    height: 130px
}

.elementor-18492 .elementor-element.elementor-element-39b3f1c>.elementor-widget-container {
    margin: 0 0 24px
}

.elementor-18492 .elementor-element.elementor-element-5bd233c {
    width: 504px;
    max-width: 504px
}

.elementor-18492 .elementor-element.elementor-element-48eaf87 .elementor-spacer-inner {
    height: 1px
}

.elementor-18492 .elementor-element.elementor-element-c7f0545>.elementor-widget-container {
    margin: 20px 0 0 -24px
}

.elementor-18492 .elementor-element.elementor-element-443ae2c .elementor-spacer-inner {
    height: 24px
}

.elementor-18492 .elementor-element.elementor-element-4dcdd70>.elementor-widget-container {
    margin: 0 0 0 -70px
}

.elementor-18492 .elementor-element.elementor-element-2e85cda {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-2e85cda>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-7909978 .elementor-spacer-inner {
    height: 80px
}

.elementor-18492 .elementor-element.elementor-element-69efb92>.elementor-element-populated {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-69efb92>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-a8ab8eb .elementor-spacer-inner {
    height: 90px
}

.elementor-18492 .elementor-element.elementor-element-a2b8cd1 .elementor-spacer-inner {
    height: 64px
}

.elementor-18492 .elementor-element.elementor-element-3bbf394 .elementor-spacer-inner {
    height: 145px
}

.elementor-18492 .elementor-element.elementor-element-2ad8f21>.elementor-widget-container {
    margin: 0 0 16px
}

.elementor-18492 .elementor-element.elementor-element-ed05c15>.elementor-widget-container {
    margin: 0 0 16px
}

.elementor-18492 .elementor-element.elementor-element-efdd3f1 {
    width: 641px;
    max-width: 641px
}

.elementor-18492 .elementor-element.elementor-element-5e64b17 .elementor-spacer-inner {
    height: 80px
}

.elementor-18492 .elementor-element.elementor-element-97092f2 {
    width: auto;
    max-width: auto
}

.elementor-18492 .elementor-element.elementor-element-d85350d>.elementor-widget-container {
    margin: 0 0 0 25px
}

.elementor-18492 .elementor-element.elementor-element-d85350d {
    width: auto;
    max-width: auto
}

.elementor-18492 .elementor-element.elementor-element-caa9332 .elementor-spacer-inner {
    height: 145px
}

.elementor-18492 .elementor-element.elementor-element-bca2c76 {
    text-align: center
}

.elementor-18492 .elementor-element.elementor-element-bca2c76>.elementor-widget-container {
    margin: 0 0 48px
}

.elementor-18492 .elementor-element.elementor-element-1ce9e74 .elementor-spacer-inner {
    height: 48px
}

.elementor-18492 .elementor-element.elementor-element-1aa30f2 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-1aa30f2>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-aeb13c4.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-18492 .elementor-element.elementor-element-aeb13c4:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,.elementor-18492 .elementor-element.elementor-element-aeb13c4>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://redmore.vn/imgs/bg-eecv.jpg");
    background-position: 0 80%;
    background-size: cover
}

.elementor-18492 .elementor-element.elementor-element-aeb13c4>.elementor-element-populated,.elementor-18492 .elementor-element.elementor-element-aeb13c4>.elementor-element-populated>.elementor-background-overlay,.elementor-18492 .elementor-element.elementor-element-aeb13c4>.elementor-background-slideshow {
    border-radius: 20px
}

.elementor-18492 .elementor-element.elementor-element-aeb13c4>.elementor-element-populated {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-aeb13c4>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-c9e8209>.elementor-container {
    max-width: 400px
}

.elementor-18492 .elementor-element.elementor-element-c1a58db.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-18492 .elementor-element.elementor-element-c1a58db>.elementor-element-populated {
    margin: 0 0 0 80%
}

.elementor-18492 .elementor-element.elementor-element-f746aae .elementor-spacer-inner {
    height: 126px
}

.elementor-18492 .elementor-element.elementor-element-5e1415c>.elementor-widget-container {
    margin: 0 0 8px
}

.elementor-18492 .elementor-element.elementor-element-67fedd9 {
    width: 460.167px;
    max-width: 460.167px
}

.elementor-18492 .elementor-element.elementor-element-4814506 .elementor-spacer-inner {
    height: 58px
}

.elementor-18492 .elementor-element.elementor-element-94516ed .elementor-spacer-inner {
    height: 126px
}

.elementor-18492 .elementor-element.elementor-element-ae70a53 .elementor-spacer-inner {
    height: 130px
}

.elementor-18492 .elementor-element.elementor-element-1cb37f3 {
    text-align: center
}

.elementor-18492 .elementor-element.elementor-element-1cb37f3>.elementor-widget-container {
    margin: 0
}

.elementor-18492 .elementor-element.elementor-element-7ae9d50 .elementor-spacer-inner {
    height: 120px
}

.elementor-18492 .elementor-element.elementor-element-6123b34 {
    width: 360.317px;
    max-width: 360.317px
}

.elementor-18492 .elementor-element.elementor-element-c23cdc3>.elementor-widget-container {
    margin: -30px -60px 0 0
}

.elementor-18492 .elementor-element.elementor-element-1339c30 .elementor-spacer-inner {
    height: 120px
}

.elementor-18492 .elementor-element.elementor-element-9f260d9 {
    width: 345.317px;
    max-width: 345.317px
}

.elementor-18492 .elementor-element.elementor-element-538cb0c .elementor-spacer-inner {
    height: 100px
}

.elementor-18492 .elementor-element.elementor-element-665710a:not(.elementor-motion-effects-element-type-background),.elementor-18492 .elementor-element.elementor-element-665710a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://redmore.vn/imgs/parallax_04.jpg");
    background-size: cover
}

.elementor-18492 .elementor-element.elementor-element-665710a {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-665710a>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-72ea9c8 .elementor-spacer-inner {
    height: 124px
}

.elementor-18492 .elementor-element.elementor-element-1e62032>.elementor-widget-container {
    margin: 0
}

.elementor-18492 .elementor-element.elementor-element-d100374 {
    text-align: center
}

.elementor-18492 .elementor-element.elementor-element-d100374>.elementor-widget-container {
    margin: 10px 0 0
}

.elementor-18492 .elementor-element.elementor-element-43b3f3d {
    text-align: center
}

.elementor-18492 .elementor-element.elementor-element-43b3f3d>.elementor-widget-container {
    margin: 12px 0 0
}

.elementor-18492 .elementor-element.elementor-element-5e1d6b4 .elementor-spacer-inner {
    height: 54px
}

.elementor-18492 .elementor-element.elementor-element-4c96422 {
    text-align: center
}

.elementor-18492 .elementor-element.elementor-element-e085737 .elementor-spacer-inner {
    height: 135px
}

.elementor-18492 .elementor-element.elementor-element-8891aa6 {
    overflow: hidden
}

.elementor-18492 .elementor-element.elementor-element-fe5b109.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center
}

.elementor-18492 .elementor-element.elementor-element-c0b05cb .elementor-spacer-inner {
    height: 130px
}

.elementor-18492 .elementor-element.elementor-element-b37dbf8 {
    text-align: center;
    width: 331.083px;
    max-width: 331.083px
}

.elementor-18492 .elementor-element.elementor-element-b37dbf8>.elementor-widget-container {
    margin: 0
}

.elementor-18492 .elementor-element.elementor-element-cf673ba .elementor-spacer-inner {
    height: 36px
}

.elementor-18492 .elementor-element.elementor-element-5a84569 {
    text-align: center;
    width: 594px;
    max-width: 594px
}

.elementor-18492 .elementor-element.elementor-element-5a84569>.elementor-widget-container {
    margin: 0
}

.elementor-18492 .elementor-element.elementor-element-25c39a2 .elementor-spacer-inner {
    height: 80px
}

.elementor-18492 .elementor-element.elementor-element-15d94c1 .elementor-spacer-inner {
    height: 120px
}

.elementor-18492 .elementor-element.elementor-element-b12992c .elementor-spacer-inner {
    height: 90px
}

.elementor-18492 .elementor-element.elementor-element-aaae096:not(.elementor-motion-effects-element-type-background),.elementor-18492 .elementor-element.elementor-element-aaae096>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://redmore.vn/imgs/bg-feedback.jpg");
    background-size: cover
}

.elementor-18492 .elementor-element.elementor-element-aaae096 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s
}

.elementor-18492 .elementor-element.elementor-element-aaae096>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-18492 .elementor-element.elementor-element-246d4e2 .elementor-spacer-inner {
    height: 150px
}

.elementor-18492 .elementor-element.elementor-element-78ac014 {
    text-align: center;
    width: 500px;
    max-width: 500px
}

.elementor-18492 .elementor-element.elementor-element-78ac014>.elementor-widget-container {
    margin: 0
}

.elementor-18492 .elementor-element.elementor-element-c019577 {
    width: 500px;
    max-width: 500px
}

.elementor-18492 .elementor-element.elementor-element-10dc04e .elementor-spacer-inner {
    height: 160px
}

.elementor-18492 .elementor-element.elementor-element-802e480 .elementor-spacer-inner {
    height: 120px
}

.elementor-18492 .elementor-element.elementor-element-48acf53 {
    text-align: center
}

.elementor-18492 .elementor-element.elementor-element-48acf53>.elementor-widget-container {
    margin: 0 0 50px
}

.elementor-18492 .elementor-element.elementor-element-20675a3 .elementor-spacer-inner {
    height: 120px
}

@media(max-width: 1199px) {
    .elementor-18492 .elementor-element.elementor-element-25aefff .elementor-spacer-inner {
        height:0
    }

    .elementor-18492 .elementor-element.elementor-element-4afdc80.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-18492 .elementor-element.elementor-element-39b3f1c {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-5bd233c {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-c7f0545 {
        width: initial;
        max-width: initial
    }

    .elementor-18492 .elementor-element.elementor-element-7ad1a56 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-4dcdd70>.elementor-widget-container {
        margin: 0;
        padding: 36px
    }

    .elementor-18492 .elementor-element.elementor-element-a8ab8eb .elementor-spacer-inner {
        height: 0
    }

    .elementor-18492 .elementor-element.elementor-element-a2b8cd1 .elementor-spacer-inner {
        height: 0
    }

    .elementor-18492 .elementor-element.elementor-element-d0f27be.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-18492 .elementor-element.elementor-element-3bbf394 .elementor-spacer-inner {
        height: 90px
    }

    .elementor-18492 .elementor-element.elementor-element-2ad8f21 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-ed05c15 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-5e64b17 .elementor-spacer-inner {
        height: 32px
    }

    .elementor-18492 .elementor-element.elementor-element-97092f2 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-d85350d {
        text-align: center;
        width: 100%;
        max-width: 100%
    }

    .elementor-18492 .elementor-element.elementor-element-d85350d>.elementor-widget-container {
        margin: 24px 0 0
    }

    .elementor-18492 .elementor-element.elementor-element-caa9332 .elementor-spacer-inner {
        height: 110px
    }

    .elementor-18492 .elementor-element.elementor-element-c1a58db.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-18492 .elementor-element.elementor-element-c1a58db>.elementor-element-populated {
        margin: 0
    }

    .elementor-18492 .elementor-element.elementor-element-2565a69 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-5e1415c {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-67fedd9 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-30423f3 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-ae70a53 .elementor-spacer-inner {
        height: 80px
    }

    .elementor-18492 .elementor-element.elementor-element-8f7c774.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-18492 .elementor-element.elementor-element-7ae9d50 .elementor-spacer-inner {
        height: 64px
    }

    .elementor-18492 .elementor-element.elementor-element-1339c30 .elementor-spacer-inner {
        height: 64px
    }

    .elementor-18492 .elementor-element.elementor-element-c0b05cb .elementor-spacer-inner {
        height: 80px
    }

    .elementor-18492 .elementor-element.elementor-element-25c39a2 .elementor-spacer-inner {
        height: 48px
    }

    .elementor-18492 .elementor-element.elementor-element-15d94c1 .elementor-spacer-inner {
        height: 80px
    }

    .elementor-18492 .elementor-element.elementor-element-b12992c .elementor-spacer-inner {
        height: 48px
    }

    .elementor-18492 .elementor-element.elementor-element-7c9e48c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-18492 .elementor-element.elementor-element-246d4e2 .elementor-spacer-inner {
        height: 90px
    }

    .elementor-18492 .elementor-element.elementor-element-78ac014 {
        width: 100%;
        max-width: 100%
    }

    .elementor-18492 .elementor-element.elementor-element-c019577 {
        width: 100%;
        max-width: 100%
    }

    .elementor-18492 .elementor-element.elementor-element-10dc04e .elementor-spacer-inner {
        height: 80px
    }

    .elementor-18492 .elementor-element.elementor-element-802e480 .elementor-spacer-inner {
        height: 90px
    }

    .elementor-18492 .elementor-element.elementor-element-20675a3 .elementor-spacer-inner {
        height: 100px
    }
}

@media(max-width: 767px) {
    .elementor-18492 .elementor-element.elementor-element-a8ab8eb .elementor-spacer-inner {
        height:0
    }

    .elementor-18492 .elementor-element.elementor-element-a2b8cd1 .elementor-spacer-inner {
        height: 16px
    }

    .elementor-18492 .elementor-element.elementor-element-3bbf394 .elementor-spacer-inner {
        height: 64px
    }

    .elementor-18492 .elementor-element.elementor-element-2ad8f21 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-ed05c15 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-efdd3f1 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-5e64b17 .elementor-spacer-inner {
        height: 32px
    }

    .elementor-18492 .elementor-element.elementor-element-97092f2 {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-d85350d {
        text-align: center
    }

    .elementor-18492 .elementor-element.elementor-element-d85350d>.elementor-widget-container {
        margin: 25px 0 0
    }

    .elementor-18492 .elementor-element.elementor-element-caa9332 .elementor-spacer-inner {
        height: 100px
    }

    .elementor-18492 .elementor-element.elementor-element-1ce9e74 .elementor-spacer-inner {
        height: 90px
    }

    .elementor-18492 .elementor-element.elementor-element-2565a69>.elementor-widget-container {
        margin: 0 0 16px
    }

    .elementor-18492 .elementor-element.elementor-element-5e1415c>.elementor-widget-container {
        margin: 0 0 16px
    }

    .elementor-18492 .elementor-element.elementor-element-ae70a53 .elementor-spacer-inner {
        height: 80px
    }

    .elementor-18492 .elementor-element.elementor-element-8f7c774.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-18492 .elementor-element.elementor-element-7ae9d50 .elementor-spacer-inner {
        height: 16px
    }

    .elementor-18492 .elementor-element.elementor-element-6123b34 {
        width: 360px;
        max-width: 360px
    }

    .elementor-18492 .elementor-element.elementor-element-f39c7e2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-18492 .elementor-element.elementor-element-1339c30 .elementor-spacer-inner {
        height: 36px
    }

    .elementor-18492 .elementor-element.elementor-element-9f260d9 {
        width: 360px;
        max-width: 360px
    }

    .elementor-18492 .elementor-element.elementor-element-72ea9c8 .elementor-spacer-inner {
        height: 90px
    }

    .elementor-18492 .elementor-element.elementor-element-78ac014>.elementor-widget-container {
        margin: 0 0 -24px
    }

    .elementor-18492 .elementor-element.elementor-element-48acf53>.elementor-widget-container {
        margin: 0 0 24px
    }
}

@media(min-width: 768px) {
    .elementor-18492 .elementor-element.elementor-element-8f63d5f {
        width:50%
    }

    .elementor-18492 .elementor-element.elementor-element-d0f27be {
        width: 50%
    }

    .elementor-18492 .elementor-element.elementor-element-8f7c774 {
        width: 25%
    }

    .elementor-18492 .elementor-element.elementor-element-73f18d6 {
        width: 49.332%
    }

    .elementor-18492 .elementor-element.elementor-element-f39c7e2 {
        width: 25%
    }
}

@media(max-width: 1199px) and (min-width:768px) {
    .elementor-18492 .elementor-element.elementor-element-4afdc80 {
        width:100%
    }

    .elementor-18492 .elementor-element.elementor-element-80d2ee7 {
        width: 100%
    }

    .elementor-18492 .elementor-element.elementor-element-69efb92 {
        width: 100%
    }

    .elementor-18492 .elementor-element.elementor-element-8f63d5f {
        width: 100%
    }

    .elementor-18492 .elementor-element.elementor-element-d0f27be {
        width: 100%
    }

    .elementor-18492 .elementor-element.elementor-element-8f7c774 {
        width: 50%
    }

    .elementor-18492 .elementor-element.elementor-element-f39c7e2 {
        width: 50%
    }

    .elementor-18492 .elementor-element.elementor-element-7c9e48c {
        width: 100%
    }
}